.footer {
    min-height: 200px;
    margin-top: 3rem;
    background-color: #222222;
    color: white;
    padding-top: 1rem;
    width: 100%;
    position: absolute;
    bottom: 0;
}

html {
    position:relative;
    min-height: 100%;
}

body {
    padding-bottom: 350px;
}

.card-mg {
    margin: 3rem 0;
}

.todoapp-margin {
    margin: 3rem 0;
}

.todoapp-m-b {
    margin: 1rem 0;
}